*.o
*.hi
hello_world/hello_world
flp-fun
*.png
penguins.csv
wines.csv
boston_housing.csv
*.tmp
*.log
*.out
flp-ref
*.zip
TODO
flp23-log
tmp
test-flp23-log
test-flp23-log-nodes
test-flp23-log-edges
test-flp23-log-combined
!full_connected11.zip